:host ::ng-deep {
    #pn_id_3_list {
       padding-left: 0px!important;
    }
  }
  :host ::ng-deep {
    #pn_id_2_list {
       padding-left: 0px!important;
    }
  }
:host ::ng-deep h2, mat-option {
  font-family: 'Noto Kufi Arabic', sans-serif;
  }