/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
//this is the font I use
*:not(i):not(span):not(.mat-icon) {
  font-family: "Noto Kufi Arabic", sans-serif !important;
}
a:hover{
  cursor: pointer!important;
}

html,
body {
  height: 100%;
}
:root {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "ngx-toastr/toastr";

.toast-container {
  pointer-events: none;
  position: fixed;
  right: 1rem;
  z-index: 999999;
  top: 2rem;
  text-align: right;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;700&display=swap");

@import "primeflex/primeflex.scss";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

.mat-text-field--outlined .mdc-notched-outline_leading {
  border-color: red !important;
}
// Increase the z-index so the datepicker is above dialogs
.cdk-overlay-container {
  z-index: 3000 !important;
}
